h1 {
    color: blue;
}
nav,footer {
    font-size: 12px;
    font-weight: bold;
}
.section-text {
    background-color: yellow
}
#related-links {
    text-align: center;
}
a:hover {
    color: green;
}